[user]
	name = Steve
	email = steve.hook@gmail.com
[color]
	ui = auto
[core]
[alias]
  ci = commit
  cm = commit -am
  br = branch
  co = checkout
  lp = log -p
  who = shortlog -n -s --no-merges
  undo = reset --hard
  lc = log ORIG_HEAD.. --stat --no-merges
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
  lf = log --pretty=fuller
  cleanup = !git gc && git remote prune origin
  fork = remote add -f

