files/.vim/backup/
.DS_Store
files/bin/reattach-to-user-namespace
files/.vim/.netrwhist
files/.vim/bundle/*
!files/.vim/bundle/vundle/
files/.config/yarn
files/.config/coc/extensions/node_modules
files/.config/nvim/plugged
