/*
!.*
!.vim/*
.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.Trash/
.Xauthority
.bash_history
.bash_login
.bash_login.macports-saved_2010-09-18_at_20:16:13
.bash_profile.macports-saved_2011-02-15_at_19:49:49
.config/
.cups/
.dbshell
.dropbox/
.fontconfig/
.gem/
.gitconfig-old
.gitk
.heroku/
.irb-history
.irb_history
.lesshst
.macports/
.mono/
.parallels/
.recently-used
.recently-used.xbel
.redcar/
.rvm/
.rvmrc
.sqlite_history
.ssh/
.subversion/
.viminfo
.vimold/
