[submodule "files/.vim/bundle/vim-powerline"]
	path = files/.vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "files/.vim/bundle/vim-rails"]
	path = files/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "files/.vim/bundle/vim-fugitive"]
	path = files/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "files/.vim/bundle/vim-surround"]
	path = files/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "files/.vim/bundle/vim-ruby"]
	path = files/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "files/.vim/bundle/vim-ruby-refactoring"]
	path = files/.vim/bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "files/.vim/bundle/nerdtree"]
	path = files/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "files/.vim/bundle/nerdcommenter"]
	path = files/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "files/.vim/bundle/Yankring.vim"]
	path = files/.vim/bundle/Yankring.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "files/.vim/bundle/ack.vim"]
	path = files/.vim/bundle/ack.vim
	url = https://github.com/vim-scripts/ack.vim
[submodule "files/.vim/bundle/ctrlp.vim"]
	path = files/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
