snippet context
context '$1' do
	${VISUAL}
end
endsnippet

snippet describe
describe '$1' do
	${VISUAL}
end
endsnippet

snippet it
it '$1' do
	${VISUAL}
end
endsnippet

snippet rignore
# rubocop:disable $1
	${VISUAL}
# rubocop:enable $1
endsnippet
